.Button {
  cursor: pointer;
  color: var(--text);
  padding: 6px 16px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--accent);
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.filled {
  border: none;
  outline: none;
  border-radius: 34px;
  background: var(--light-bg);
}

.outline {
  background: none;
  border: 2px solid var(--secondary);
  border-radius: 34px;

  &:hover {
    border: 2px solid var(--accent);
  }
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.xl {
  font: var(--font-xl);
}
